CMakeCache.txt
CMakeFiles
signalwire_client_C_cotire.cmake
/Testing
CTestTestfile.cmake
Makefile
*_cotire.cmake
cmake_install.cmake
libsignalwire_client2.so*
testclient
/cotire
/build
Testing/
core
swclt_test/cotire/
swclt_test/swclt_test
/install_manifest.txt
/libsignalwire_client.dylib
/signalwire_client2.pc
/uninstall.cmake
build-Win32/
build-x64/
CPackConfig.cmake
CPackSourceConfig.cmake
changelog.Debian.gz
libsignalwire_client.so.1
inc/signalwire-client-c/version.h
_CPack_Packages/
install_manifest_runtime.txt
*.deb